.booking-page{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../Image/Rectangle\ 1.png');
    background-position:center top;
    height: 100vh;
 color : white;
}

.booking-form{
    width: 50%;
    /* height: 400px; */
  
    background: white;
    color: black;
    
    
}
.form-control{
    background: lightgray;
}